h1.form {
    margin-left: 100px;
}

.form {
    margin-top: 60px;
}

h1.title {
    margin-left: 270px;
    font-weight: lighter;
    position: relative;
    top: 60px;
}

button.info {
    padding: 15px;
    width: 100px;
    background-color: #e0e0e0;
    border: none;
}

button.info:hover {
    background-color: #bdbdbd;
}

.tracks {
    margin-left: 270px;
}

.tracks h1 {
    font-weight: lighter;
}

button.update {
    position: relative;
    left: 255px;
    margin: 15px 15px;
}

div.playlistSongsHeader {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.spinner {
    margin-left: 270px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.drop {
    margin-left: 270px;
    margin-top: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #bdbdbd;
}

.drop:hover {
    border-color: gray;
}

div.files {
    margin-left: 271px;
    margin-top: 5px;
    text-decoration: none;
}
